<div class="container">
  <div class="row mt-3">
    <h4>注文履歴一覧</h4>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admins_order_path(order) do %>
                <%= order.created_at.strftime('%Y/%m/%d') %>
              <% end %>
            </td>
            <td><%= end_user_full_name(order.end_user) %></td>
            <td><%= order.order_details.count %></td>
            <td><%= order.order_status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mb-5">
    <div class="mx-auto"><%= paginate(@orders) %></div>
  </div>
</div>