<div class="container">
  <div class="row">
    <div class="col-sm_10 mr-5">
      <h4>商品一覧</h4>
    </div>
    <div class="col-xs-2 float-right">
      <%= link_to new_admins_product_path, class: "btn btn-lg" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td class="text-center"><%= product.id %></td>
          <td>
            <%= link_to admins_product_path(product) do %>
              <%= product.name %>
            <% end %>
            </td>
          <td class="text-center">¥<%= product.price %></td>
          <td class="text-center"><%= product.genre.name %></td>
          <td class="text-center">
            <% if product.is_active == "販売中" %>
              <p>販売中</p>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="mx-auto"><%= paginate(@products) %></div>
  </div>
</div>