<h2>商品新規登録</h2>

   <div class="container">
        <div class="row">
          <div class="col-xl-12 ">
            <%= form_with model: @product, method: :post, local:true do |f| %>
                <div class="form-group">
                 <label class="col-xl-6">商品画像</label></br>
                 <%= f.attachment_field :image %>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">商品名</label>
                 <%= f.text_field :name, class:"form-control col-sm-9 form-control-static name"%>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">商品説明</label>
                 <%= f.text_area :description, class:"form-control col-sm-9 form-control-static description"%>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">ジャンル名</label>
                    <!--プルダウン検索フォーム追加-->
                 <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %>
                </div>

                <div class="form-group">
                  <label class="col-xl-6">税込価格</label>円
                  <%= f.text_field :price, class:"form-control col-sm-3 form-control-static price" %>
                </div>

                <div class="form-group">
                  <label class="col-xl-6">販売ステータス</label>
                  <label><%= f.radio_button :is_active, "true", checked: true%>販売中</label>
        　　　　  　　<label><%= f.radio_button :is_active, "false" %>販売停止中</label>
                </div>

                <div class="form-group">
                  <%= f.submit "新規登録",class:"btn btn-secondary" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
