

   <div class="container">
        <div class="row col-md-4 col-md-offset-8">
          <div class="col-12">
              <h3 class="text-left">商品新規登録</h3>
            <%= form_with model: @product, url: admins_products_path, local:true do |f| %>
                <div class="form-groupd">
                 <label class="col-xl-6">商品画像</label>
                 <%= f.attachment_field :image, class: "image" %>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">商品名</label>
                 <%= f.text_field :name, class:"form-control col-sm-9 form-control-static name" %>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">商品説明</label>
                 <%= f.text_area :description, class:"form-control col-sm-9 form-control-static description"%>
                </div>

                <div class="form-group">
                 <label class="col-xl-6">ジャンル名</label>
                    <!--プルダウン検索フォーム追加-->
                 <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %>
                </div>

                <div class="form-group">
                  <label class="col-xl-6">税込価格</label>円
                  <%= f.text_field :price, class:"form-control col-sm-3 form-control-static price" %>
                </div>

                <div class="form-group">
                  <label class="col-xl-6">販売ステータス</label>
                  <label><%= f.radio_button :is_active, :販売中, checked: true%>販売中</label>
        　　　　  　　<label><%= f.radio_button :is_acive, :売り切れ %>販売停止中</label>
                </div>

                <div class="form-group">
                  <%= f.submit "新規登録",class:"col-3 btn btn-success" %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
