<header>
  <nav class="navbar navbar-expand-xl navbar-light bg-white">
    <div class="col-xl-4">
      <div class="logo">
        <a href="/"><%= image_tag "logo.png", class: "logo-size" %></a>
      </div>
    </div>
    <div class="col-xl-8">
      <button class="navbar-toggler mx-3 my-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <!--管理者としてログインした場合のヘッダー-->
        <% if admin_signed_in? %>
          <li><%= link_to "About", about_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "商品一覧", admins_products_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "会員一覧", admins_end_users_path(order_sort: 0), class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "注文履歴一覧", admins_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mx-3 my-1" %></li>

        <!--会員としてログインした場合のヘッダー-->
        <% elsif end_user_signed_in? %>
          <li>ようこそ、<%= current_end_user.first_name %>さん！</li>
          <li><%= link_to "マイページ", end_users_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "商品一覧", products_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "btn btn-outline-secondary mx-3 my-1" %></li>

        <!--ログインしていない場合のヘッダー-->
        <% else %>
          <li><%= link_to "About", about_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "商品一覧", products_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
          <li><%= link_to "ログイン", new_end_user_session_path, class: "btn btn-outline-secondary mx-3 my-1" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>